html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: rgba(255,255,255,1);    
}

* {
    box-sizing: inherit;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    padding: 0;
    background-color: #282B30;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #1D2024;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    max-width: 1000px;
    box-sizing: border-box;
    overflow: auto;
}

.nav {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid white;
}

.admin a {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
}

.control-panel {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    padding: 4px;
    margin-bottom: 1px;
}

.control-panel button {
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.control-panel #property-owners-button {
    background-color: #2C18DE;
}

.popup {
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}










.property-owners-container {
    box-sizing: border-box;
}

.property-owner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 10px;
}

.top-property-owners-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
}

.property-owners-table-and-print {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 10px;
    max-width: 100%;
    overflow: auto;
}
  
#property-owners-table-title, #property-owners-table-column-heads {
    padding: 10px;
}

.property-owners-table th, .property-owners-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.property-owners-table td input {
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}

.extra-landlord-details-of-rentals {
    background-color: rgba(255, 255, 255, 0.2);;
}

.view-input-div {
    margin-top: 10px;
    overflow: auto;
}


#view-input-details-clearly {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
    outline: none;
    padding-left: 10px;
}


.rentals-table-title {
    padding: 7px !important;
    background-color: #2C18DE;
}


.print-property-owners-table {
    margin-top: 20px;
}

.print-property-owners-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.password-hasher {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    padding-right: 17px;
    padding-bottom: 17px;
}

.password-input, .hashed-password {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.password-hasher label, .hashed-password label {
    width: 135px;
    text-align: start;
    padding: 7px;    
    font-size: 1rem;
}

.password-hasher input, .hashed-password input {
    text-align: start;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
    outline: none;
    padding-left: 10px;
}

.hash-button button{
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.property-owners-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.property-owners-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}









.add-new-property-owner {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
    padding: 15px;
    margin-top: 20px;
}

#add-new-property-owner-form div:not(.add-new-property-owner-title,  .add-new-property-owner-confirm-button) {
    text-align: left;
}

#add-new-property-owner-form label {
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#add-new-property-owner-form input {
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
}

#add-new-property-owner-form input:focus {
    outline: none;
    border: 3px solid#2C18DE;
}

#add-new-property-owner-form button:focus {
    border: 3px solid#2C18DE;
}

#add-new-property-owner-form div div.error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 6px;
    margin-bottom: 7px;
}

#new-property-owner-password::placeholder {
    color: rgba(255,255,255,0.5);
}

.edit-details, .confirm-button {
    text-align: center;  
}

#add-new-property-owner-form button {
    padding: 10px;
    margin-top: 10px;
      
}

#add-new-property-owner-form #new-property-owner-show-pass {
    width: auto;    
}

.confirm-button {
    display: none;
}

#add-new-property-owner-form button{
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}











.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
    padding: 15px;
}

.contact-information-account-operations {
    flex-basis: 16%;
}

.forget-admin-account-div {
    margin-top: 15px;
}

.forget-admin-account-div button {
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
    width: 100%;
}

.contact-information-form-div {
    flex-basis: 83%;
} 

#delete-admin-account button {
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
    width: 100%;
}

#contact-information-form {
    flex-basis: 90%;
    padding: 10px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
    text-align: left;    
}

#contact-information-form label {
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#contact-information-form input {
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
}

#contact-information-form input:focus {
    outline: none;
    border: 3px solid#2C18DE;
}

#contact-information-form button:focus {
    border: 3px solid#2C18DE;
}

#contact-information-form div div.error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 6px;
    margin-bottom: 7px;
}

.edit-details, .confirm-button {
    text-align: center;  
}

#contact-information-form button {
    padding: 10px;
    margin-top: 10px;
      
}

#contact-information-form #show-pass {
    width: auto;    
}

.confirm-button {
    display: none;
}

#contact-information-form button{
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}













.administrator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 10px;
}

.top-administrators-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
}

.admins-table-and-print {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 10px;
}

.administrators-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#administrators-table-title, #administrators-table-column-heads {
    padding: 10px;
}

.administrators-table th, .administrators-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.administrators-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-administrators-table {
    margin-top: 20px;
}

.print-administrators-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.password-hasher {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    padding-right: 17px;
    padding-bottom: 17px;
}

.password-input, .hashed-password {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.password-hasher label, .hashed-password label {
    width: 135px;
    text-align: start;
    padding: 7px;    
    font-size: 1rem;
}

.password-hasher input, .hashed-password input {
    text-align: start;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
    outline: none;
    padding-left: 10px;
}

.hash-button button{
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.administrators-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.administrators-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}









.add-new-admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
    padding: 15px;
    margin-top: 20px;
}

#add-new-admin-form div:not(.add-new-admin-title,  .add-new-admin-confirm-button) {
    text-align: left;
}

#add-new-admin-form label {
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#add-new-admin-form input {
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
}

#add-new-admin-form input:focus {
    outline: none;
    border: 3px solid#2C18DE;
}

#add-new-admin-form button:focus {
    border: 3px solid#2C18DE;
}

#add-new-admin-form div div.error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 6px;
    margin-bottom: 7px;
}

#new-admin-password::placeholder {
    color: rgba(255,255,255,0.5);
}

.edit-details, .confirm-button {
    text-align: center;  
}

#add-new-admin-form button {
    padding: 10px;
    margin-top: 10px;
      
}

#add-new-admin-form #new-admin-show-pass {
    width: auto;    
}

.confirm-button {
    display: none;
}

#add-new-admin-form button{
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}















.rental-buttons {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    padding: 4px;
    margin-bottom: 1px;
}

.rental-buttons button {
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.rental-buttons #hostels-button {
    background-color: #2C18DE;
}














.hostels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.hostels-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#hostels-table-title, #hostels-table-column-heads {
    padding: 10px;
}

.hostels-table th, .hostels-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.hostels-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-hostels-table {
    margin-top: 20px;
}

.print-hostels-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.view-owner-details button {
    padding: 0;
    background-color: white;

}

.hostels-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}


.edit-details button {
    padding: 0;
    background-color: white;

}

.hostels-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.hostels-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}












.single-rooms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.single-rooms-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#single-rooms-table-title, #single-rooms-table-column-heads {
    padding: 10px;
}

.single-rooms-table th, .single-rooms-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.single-rooms-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-single-rooms-table {
    margin-top: 20px;
}

.print-single-rooms-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.single-rooms-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.single-rooms-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.single-rooms-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}












.bedsitters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.bedsitters-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#bedsitters-table-title, #bedsitters-table-column-heads {
    padding: 10px;
}

.bedsitters-table th, .bedsitters-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.bedsitters-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-bedsitters-table {
    margin-top: 20px;
}

.print-bedsitters-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.bedsitters-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.bedsitters-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.bedsitters-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}













.apartments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.apartments-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#apartments-table-title, #apartments-table-column-heads {
    padding: 10px;
}

.apartments-table th, .apartments-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.apartments-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-apartments-table {
    margin-top: 20px;
}

.print-apartments-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.apartments-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.apartments-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.apartments-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.apartments-table .extra-details .owner-details th {
    height: 30px;
    padding: 10px;
}













.houses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.houses-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#houses-table-title, #houses-table-column-heads {
    padding: 10px;
}

.houses-table th, .houses-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.houses-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-houses-table {
    margin-top: 20px;
}

.print-houses-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.houses-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.houses-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.houses-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}












.business-premises {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.business-premises-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#business-premises-table-title, #business-premises-table-column-heads {
    padding: 10px;
}

.business-premises-table th, .business-premises-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.business-premises-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-business-premises-table {
    margin-top: 20px;
}

.print-business-premises-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.business-premises-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.business-premises-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.business-premises-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}










.suites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    padding: 10px;
    padding-top: 20px;
}

.suites-table {
    border-collapse: collapse;
    align-self: stretch;
    width: 100%;
}
  
#suites-table-title, #suites-table-column-heads {
    padding: 10px;
}

.suites-table th, .suites-table td {
    border: 1px solid rgba(255,255,255,0.7);
    padding: 0;
    max-width: 200px;
    box-sizing: border-box;
    font-size: 1rem;
}

.suites-table td input {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 0;
    outline: none;
}

.submit-details {
    display: none;
}


.print-suites-table {
    margin-top: 20px;
}

.print-suites-table button {
    text-decoration: none;
    padding: 7px 20px;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    margin-top: 5px;
}

.suites-view-owner-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.edit-details button {
    padding: 0;
    background-color: white;

}

.suites-table-edit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}

.submit-details button {
    padding: 0;
    background-color: white;
}

.suites-table-submit-details-button img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}





.extra-landlord-details-of-rentals {
    display: none;
}

.property-owners-table-view-extra-details-button {
    padding: 0;
}

.view-landlord-details img {
    width: 20px;
    height: 20px;
    filter: brightness(90);
    border: 0;
    outline: 0;
}





.extra-details * {
    text-align: center;
}

.extra-details.rental-details {
    background-color: rgba(255, 255, 255, 0.1);
}

.extra-details.owner-details {
    background-color: rgba(255, 255, 255, 0.2);
}


.contact-information, .rentals, .administrators, .queries, .single-rooms, .bedsitters, .apartments, .houses, .business-premises, .suites, .extra-details {
    display: none;
}