html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: rgba(255,255,255,0.85);    
}

* {
    box-sizing: inherit;
}

body {
    padding: 10px;
    background-color: #282B30;    
}

.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #1D2024;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);    
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;    
}

nav h3 {
    margin: 0;
}

.main-body {
    padding: 10px;
}

.sign-out-button {
    text-decoration: none;
    align-self: flex-start;
    padding: 7px 10px;
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;    
}

.buttons {
    padding-bottom: 10px;
    border-bottom: 1px solid;    
}

.buttons button {
    padding: 10px 15px;
    font-size: 1rem;
}

.buttons a {
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    color: rgba(255,255,255,0.85);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
    width: 100%;
    margin-bottom: 5px;
}

.panel {
    padding-top: 10px;
}

.panel-buttons {
    display: flex;
    justify-content: center;
    margin-right: 1px;
    margin-bottom: 5px;
}

.rental-template {
    padding: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-left: 0;
    margin-bottom: 15px;
}

.rental-template img {
    width: 100%; 
    height: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);    
}

.rental-template .payment {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.rental-template .payment h4 {
    margin-right: 10px;
    margin-bottom: 13px;
    margin-top: 13px;
}

.rental-template .payment h5 {
    margin-bottom: 13px;
    margin-top: 13px;
}

.rental-template .description-title {
    margin-top: 5px;
    margin-bottom: 15px;
}

.rental-template .description {
    margin-top: 0;
}

.template-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: auto;  
    border-top: 1px solid;
    padding-top: 10px;     
}

.contact-information {
    display: none;
}

form {
    padding: 10px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
    text-align: left;    
}

form label {
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input {
    display: inline-block;
    width: 100%;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;    
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border: 3px solid#2C18DE;
}

form button:focus {
    border: 3px solid#2C18DE;
}

form div div.error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 6px;
    margin-bottom: 7px;
}

.edit-details, .confirm-button {
    text-align: center;  
}

form button {
    padding: 10px;
    margin-top: 10px;
      
}

form #show-pass {
    width: auto;    
}

.confirm-button {
    display: none;
}

button {
    padding: 7px 10px;
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;    
    border: 2.5px solid#2C18DE;
}

@media (min-width: 700px) {
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .container {
        margin-top: 0;
        max-width: 1100px;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    }

    nav {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;    
    }
 
    .main-body {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        padding-bottom: 0px;
        border: none;
        width: 80%;
        text-align: left;
        flex-basis: 20%;           
    }

    .buttons button {
        padding: 10px 15px;
        margin-bottom: 10px;
        text-align: center;
        width: auto;
    }

    .panel {
        flex-basis: 80%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.6);
        min-height: 100vh;
        height: 100%;
    }
    
    .panel-buttons {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        margin-bottom: 4px;
    }

    .panel-buttons button{
        padding: 10px 15px;
        margin-right: 3px;
    }

    .rental-template {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.5); 
        margin-left: 10px;
        margin-right: 10px;       
    }

    .rental-template .title {
        align-self: stretch;
        border-bottom: 1px solid;
        margin-bottom: 10px;
    }

    .rental-template .main-section {
        display: flex;
        flex-direction: row;
    }

    .rental-template .main-section .top-section {
        flex-basis: 45%;
    }
    
    .rental-template .main-section .bottom-section {
        flex-basis: 55%;
        padding-left: 7px;
    }

    .rental-template h3 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .rental-template img {
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
        margin: 0;
        flex: 1;    
    }

    .rental-template .top-section {
        display: flex;
        flex-direction: column;
    }

    .rental-template .payment h4,h5 {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .rental-template .payment h5 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .rental-template .image-div {
        flex-grow: 1;
        margin-bottom: 10px;
    }
    .rental-template .payment {
        margin: 0;        
        padding: 0;        
    }

    .rental-template p {
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .rental-template button {
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
    }

    .template-buttons {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin-top: 10px;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);  
        border-top: none;  
    }

    .template-buttons .remove-rental {
        margin-right: 4px;
    }

}