* {
    margin: 0;      /*To start everything at the corner */
    padding: 0;     
    box-sizing: border-box;     /*To ensure grows larger than its container*/
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #1D2024;
}

.container {        /*The larger container containing everything*/
    width: 100%;    /*To ensure everything fits perfectly along the whole width*/
    min-height: 100vh;      /*To ensure everything is distributed along the whole height of the page bein viewed*/    
    position: relative;     /*So that the navbar(child) can be declared as absolute*/
    margin: auto;
    
    animation: animate 30s ease-in infinite;    /*To change the background image*/
    background-position: center;
    background-size: cover;     /*To ensure the background image fills the pages*/
    background-repeat: no-repeat;
}

@keyframes animate {    /*To configure the animation*/
    0%,100%{    /*The first and last image*/
        background-image: linear-gradient(rgba(40, 45, 56, 1), rgba(40, 45, 56, 0.6)), url(../Images/apartment-housing-tripoli-lebanon-ATHN9J.jpg);
    }
    25%{
        background-image: linear-gradient(rgba(40, 45, 56, 1), rgba(40, 45, 56, 0.6)), url(../Images/motel2.webp);
    }
    50%{
        background-image: linear-gradient(rgba(40, 45, 56, 1), rgba(40, 45, 56, 0.6)), url(../Images/slums-and-high-rise-apartments-mumbai-bombay-maharashtra-india-F3GHPY.jpg);
    }
    75%{
        background-image: linear-gradient(rgba(40, 45, 56, 1), rgba(40, 45, 56, 0.6)), url(../Images/mud-house.jpg);
    }
}

#navigation-bar {
    position: absolute;
    top: 0;
    left:0;
    padding: 20px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    flex-wrap: wrap;    /*To force the "advertise" button drop once the screen becomes smaller, rather than overflow*/
    color: rgba(255,255,255,1);
    border-bottom: 1px solid;
}

#navigation-bar h1 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-right: 10px;
    margin-bottom: 10px;    
}

.advertise {
    border: 2px solid rgba(255,255,255, 1);
    border-radius: 10px;    /* To round the corners*/
    padding: 10px 20px;     /* To give the button a bigger body: 5px more in the upwards and downwards directions and 20px more in the left and right directions*/
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: rgba(255,255,255, 1);
}

.bottom-section {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-sizing: inherit;
}

.introduction {
    text-align: center;
    color: rgba(245,245,245,1);
    padding: 0;       
}

.introduction h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.introduction p {
    font-size: 1.1rem;
    font-weight: 300;
}

.search-bar {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;    /* To align the input box and button towards the center (vertically) */
    border-radius: 60px;    /* To round the corners of the larger form */
    border: '';
    padding: 10px 20px;     /* To give the form a bigger body */
    backdrop-filter: blur(4px) saturate(120%);
    overflow: hidden;
}

.search-bar input {
    background-color: transparent;
    flex: 1;    /* To fill the width of the form */
    border: 0;
    outline: none;      /* To Remove the border and outline of the input box */
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Makes the placeholder white and makes it slightly transparent */
    font-size: 1.2rem;
    font-weight: 100;
}

.search-bar button img{
    width: 20px;
}
.search-bar button {
    padding: 10px;
    border-radius: 50%; /* To round the button */
    border: 0;
    background: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 1);
    width: auto;
    height: auto;
    cursor: pointer; 
    font-size: 1.2rem;
}

@media (max-width: 360px) {
    .container {
        overflow: hidden;
    }

    .search-bar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .search-bar input {
        flex-grow: 1;
        min-width: 10px;
        width: fit-content;
    }
    
    .search-bar button {
        flex-grow: 0; 
    }
    
}

@media (min-width: 576px) {
    .container {
        max-width: 900px;
    }
    
    .bottom-section {
        top: 120px;          
    }

    .search-bar {
        margin-top: 80px;        
    }
    
    #navigation-bar {
        flex-direction: row;
    }
}