html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

* {
    box-sizing: inherit;
    font-family: inherit;
}

body{
    background-color: #282B30;
    color: rgba(255,255,255,0.85);
}

form input,select, textarea {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255,255,255,0.85);
    font-size: 1rem;
}

form option {
    color: black;
}

button {
    background-color: transparent;
    border: 2px solid #2C18DE;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.85);
}

#description {
    font-size: 1rem;
    overflow: hidden;
    resize: none;
}

textarea::placeholder {
    color: rgba(255,255,255,0.70);    
}

.googlelocation input::placeholder {
    color: rgba(255,255,255,0.70);    
}

.container {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    background-color: #1D2024;
    padding: 10px;
    width: 100%;
}

.main-body {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 10px;    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

nav button {
    padding: 7px 10px;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttons button {
    margin-right: 1px;
    padding: 5px 10px;
}

.basic-information {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 15px; 
}

.basic-information label {
    margin-bottom: 7px;
}

.basic-information input, select, textarea {
    padding: 7px;
}

.basic-information div {
    margin-bottom: 13px;
}

.basic-information div {
    display: flex;
    flex-direction: column;
}

.basic-information div input:focus, select:focus, textarea:focus, div:focus, button:focus {
    border: 0;
    outline: 3px solid #2C18DE;
}

.basic-information div.success select {
    border-color: #09c372;    
}

.basic-information div.success input {
    border-color: #09c372;    
}

.basic-information div.error select {
    border-color: #ff3860;    
}

.basic-information div.error input {
    border-color: #ff3860;    
}

.basic-information div .error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 7px;
    margin-bottom: 0;
}

.imagesDiv {
    align-self: center;
    margin-bottom: 0 !important;    
}

#images-upload {
    display: none;     
}

.upload-photographs {
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;             
}

.upload-photographs label {
    padding: 7px 15px;
    border: 2px solid #2C18DE;
    background-color: transparent;
    color: rgba(255,255,255,0.85); 
    margin-bottom: 0;    
}

#imageError {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#businessPremiseType, #apartmentBedrooms, #houseBedrooms, #moreHouseBedrooms, #moreApartmentBedrooms, #numberOfAvailableRentals, #maximumNumberOfOccupants {
    display: none;
}

.optional-information {
    display: none;
}

.ammenities {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;          
}

.ammenities h4,h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    align-self: center;
}

.ammenities .tap-water, .water-tank, .borehole, .electricity-token, .electricity-meter, .security-guard, .cctv, .security-lights, .pit-latrine, .automatic-toilet, .garbage-collection, .cleaner, .sink, .handicap-access, .packing, .tiles,  .ceiling, .balcony, .wi-fi, .joint-tv-subscription, .air-conditioning, .furnished, .swimming-pool, .gym {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.ammenities #tap-water, #water-tank, #borehole, #token, #meter, #security-guard, #cctv, #security-lights, #pit-latrine, #automatic-toilet, #garbage-collection, #cleaner, #sink, #handicap-access, #packing, #tiles, #ceiling, #balcony, #wi-fi, #joint-tv-subscription, #air-conditioning, #furnished, #swimming-pool, #gym {
    margin-right: 5px;
    margin-bottom: 15px;
}

.preferences {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 15px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.preferences .gender, .students, .families, .driving, .religion {
    display: flex;
    flex-direction: column;
}

.male, .female, .any-gender, .no-students, .students-welcome, .no-children, .children-allowed, .having-vehicles, .not-having-vehicles, .christianity, .islam, .hinduism, .any-religion, .other-religion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gender #male ,#female ,#any-gender, #no-students, #students-welcome, #no-children, #any-welcome, #having-vehicles, #not-having-vehicles, #christianity, #islam, #hinduism, #other-religion, #specified-religion, #any-religion {
    margin-right: 5px;
    margin-bottom: 15px;
}

#specified-religion {
    padding: 7px;
    align-self: flex-start;   
}

#specified-religion:focus {
    border: 0;
    outline: 3px solid #2C18DE;
}

.specified-religion {
    display: none;
}

.rules {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 10px;
}

.rules h4 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.rules p {
    margin-top: 0;
    margin-bottom: 25px;
}

.rules .upload-rules {
    margin-top: 0;
}

.rules .upload-rules #rules-upload {
    display: none;    
}

.rules .upload-rules label {
    padding: 7px 15px;    
    color: rgba(255,255,255,0.85);
    background-color: transparent;
    border: 2px solid #2C18DE; 
}

.submit-entry {
    text-align: center;    
}

.submit-entry button {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 1rem;   
}

.submit-entry button:focus {
    border: 2px solid #2C18DE; 
}

a {
    text-decoration: none;
    color: rgba(255,255,255,0.85);
}


@media (min-width: 576px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 900px;
    }
}