html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282B30;
    color: rgba(255,255,255,1);
}

*{
    box-sizing: inherit;
    font-family: inherit;
}

.container {
    padding: 10px;
    width: 100%;
    background-color: #1D2024;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding : 10px;
}

nav h1,button {
    margin: 0;
}

nav button {
    padding: 7px 15px;
    background-color: transparent;
    color: rgba(255,255,255,1);
    font-size: 1rem;
    border: 2.5px solid#2C18DE;
}

nav a {
    text-decoration: none;
}

.top-section {
    margin-top: 15px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;   
}

.top-section .left, .right {
    position: absolute;
    order: 2;
}

.top-section .right{
    right: 10px;
}

.top-section .left {
    margin-left: 5px;
}

.top-section .left button img {
    width: 20px;
}

.top-section .right button img{
    width: 20px;
}

.top-section .left button {
    background-color: rgba(255, 255, 255 , 0.4);
    border: none;
    padding: 5px;
    border-radius: 50%;
}

.top-section .right button {
    background-color: rgba(255, 255, 255 , 0.4);
    border: none;
    padding: 5px;
    border-radius: 50%;
}

.top-section .images-and-tally {
    flex: 1;
    padding: 0;
}

.top-section .images-and-tally img:not(#image1) {
    display: none;
}

.top-section .images-and-tally img {
    width: 100%;
    height: auto;    
}

.tally p {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    text-align: center;
    padding: 7px 10px;
    margin: 0;
}



.rental-description, .contact-information {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.rental-description h2 {
    margin-top: 10px;
    margin-bottom: 0;
    align-self: center;
}

.rental-description h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.rental-description h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.details {
    margin-top: 10px;
}

.details span {
    font-weight: 500;
    margin-right: 10px;
    color: rgba(255, 255, 255 , 0.8);
}

.description {
    text-align: center;
}

.rental-description p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.contact-information h2 {
    margin-top: 10px;
    margin-bottom: 0;
    align-self: center;
}

.contact-information form {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.contact-information form input {
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255 , 0.2);
    color: rgba(255, 255, 255 , 1);
    font-size: 1rem;
}

.contact-information form label {
    margin-bottom: 5px;
}





#view-details, #leave-details, #submit-tenant-details {
    padding: 7px 15px;
    background-color: transparent;
    color: rgba(255,255,255,1);
    font-size: 0.9rem;
    border: 2.5px solid#2C18DE;
    width: fit-content;
    align-self: center;
    margin-top: 15px;
    outline: none;
}

.contacts, .tenant-details {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding: 10px;
    padding-top: 15px;
}

span {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
}

#request {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#prompt {
    align-self: center;
    margin-top: 25px;
}

.tenant-details form {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.tenant-details div {
    display: flex;
    flex-direction: column;
}

.tenant-details form input {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255 , 0.2);
    color: rgba(255, 255, 255 , 1);
    font-size: 1rem;
    outline: none;
}

#tenants-email::placeholder {
    color: rgba(255, 255, 255 , 0.5);
}

.tenant-details form label {
    margin-bottom: 5px;
}

.name .error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.number .error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.email .error {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 15px;
}






.ammenities-and-preferences {
    display: flex;
    flex-direction: column; 
    padding: 10px;  
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    margin-top: 10px;
    width: 100%;
     
}

.ammenities, .preferences {
    flex-basis: 50%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.ammenities {
    border-bottom: 1px solid rgba(255, 255, 255 , 1);    
}

.actual-ammenities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;    
}

.actual-ammenities div {
    text-align: start;
}

.ammenities .actual-ammenities div p,h4 {
    margin: 10px;
}

.ammenities div {
    margin-bottom: 10px;
}

.preferences p {
    margin: 10px;
}

.rules {
    margin-top: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
}

.rules .left, .right {
    position: absolute;
    order: 2;
}

.rules .right{
    right: 10px;
}

.rules .left {
    margin-left: 5px;
}

.rules .left button img {
    width: 20px;
}

.rules .right button img{
    width: 20px;
}

.rules .left button {
    background-color: rgba(255, 255, 255 , 0.4);
    border: none;
    padding: 0;
    border-radius: 50%;
}

.rules .right button {
    background-color: rgba(255, 255, 255 , 0.4);
    border: none;
    padding: 0;
    border-radius: 50%;
}

.rules-images-and-tally {
    flex: 1;
    padding: 0;
}

.rules-images-and-tally img:not(#rules-image-1) {
    display: none;
}

.rules img {
    width: 100%;
    height: auto;    
}

.rules-tally p {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    text-align: center;
    padding: 7px 10px;
    margin: 0;
}

@media (min-width: 576px){
    .container {
        max-width: 900px;
        margin: auto;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    }

    .top-section .buttons {
        order: 0;
        position: static;
    }

    .top-section .images-and-tally {
        order: 0;
    }

    .top-section .left {
        margin-left: 0;
    }

    .top-section .left button {
        border-radius: 5px;
        margin-left: 0;
        padding: 0;
        background-color: transparent;
    }
    
    .top-section .right button {
        border-radius: 5px;
        padding: 0;
        background-color: transparent;
    }
    
    .top-section .left button img {
        width: 30px;
        filter: brightness(90);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    }
    
    .top-section .right button img{
        width: 30px;
        filter: brightness(90);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    }

    .ammenities-and-preferences {
        display: flex;
        flex-direction: row; 
        padding: 10px;  
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
        margin-top: 10px;
        width: 100%;
         
    }
    
    .ammenities {
        border-right: 1px solid rgba(255, 255, 255 , 1);
        border-bottom: 0;
    }

    .rules .rules-button {
        order: 0;
        position: static;
    }

    .rules .rules-images-and-tally {
        order: 0;
    }

    .rules .left {
        margin-left: 0;
    }

    .rules .left button {
        border-radius: 5px;
        margin-left: 0;
        padding: 0;
        background-color: transparent;
    }
    
    .rules .right button {
        border-radius: 5px;
        padding: 0;
        background-color: transparent;
    }
    
    .rules .left button img {
        width: 3px;
        filter: brightness(90);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    }
    
    .rules .right button img{
        width: 30px;
        filter: brightness(90);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
    }
}