html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282B30;
    
}

* {
    box-sizing: inherit;
    font-family: inherit;
    color: rgba(255,255,255,1);
}

.container {
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background-color: #1D2024;
}

nav .top {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 10px;    
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;    
}

.top h1 {
    align-self: flex-end;
    margin: 0;
}

.advertise {
    padding: 10px;
    background-color: transparent;
    border: 2.5px solid#2C18DE;
    color: rgba(255,255,255,1);
}

.advertise a {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;    /* To align the input box and button towards the center (vertically) */
    border-radius: 70px;    /* To round the corners of the larger form */
    padding-left: 20px;     /* To give the form a bigger body */
    padding-right: 10px;     /* To give the form a bigger body */
    padding-top: 5px;     /* To give the form a bigger body */
    padding-bottom: 5px;     /* To give the form a bigger body */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px) saturate(200%);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);     
}

.search-bar input {
    background-color: transparent;
    flex: 1;    /* To fill the width of the form */
    border: 0px;
    outline: none;      /* To Remove the border and outline of the input box */
    color: rgba(255,255,255,0.85); 
    font-size: 1rem;
}

::placeholder {
    color: rgba(255,255,255,0.85);  /* Makes the placeholder white and makes it slightly transparent */
    font-size: 1rem;
}

.search-bar button img{
    width: 15px;
}
.search-bar button {
    padding: 10px;
    border-radius: 50%; /* To round the button */
    background: rgba(255, 255, 255, 0.4);    
    cursor: pointer;
    outline: none;
    border: 0;    
}

.filter-form {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

.filter-form .actual-filters {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    margin-left: 0;   
}

.filter-form .actual-filters .basic-information {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.filter-form .actual-filters .basic-information div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-form .actual-filters .basic-information div div {
    flex-basis: auto;
}

.filter-form .actual-filters .basic-information div .original-text-label {
    margin-bottom: 0;
}

.filter-form .actual-filters .basic-information div .original-text-input {
    flex-grow: 1;
    margin-bottom: 0;
}

.filter-form .actual-filters .basic-information div div label{
    font-size: 1rem;
    margin-bottom: 7px;
}

.filter-form .actual-filters .basic-information div div input{
    padding: 7px 10px;
    background-color: transparent;
    font-size: 1rem;
    outline: 0;
}

.filter-form .actual-filters .basic-information div div select{
    padding: 7px 10px;
    background-color: transparent;
    font-size: 1rem;
    outline: 0;
}

.filter-form .actual-filters .basic-information div div input:focus {
    border: 2px solid #2C18DE;
}

.filter-form .actual-filters .basic-information div div select:focus {
    border: 2px solid #2C18DE;
}

.filter-form .actual-filters .basic-information div .original-text-input input{
    border: 1px solid rgba(255,255,255,0.5);
    width: 100%;
}

.filter-form .actual-filters .basic-information div .original-text-input select{
    border: 1px solid rgba(255,255,255,0.5);
    width: 100%;
}

.other-ammenities-and-preferences {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.ammenities-filters, .preferences-filter {
    flex-basis: 50%;
}

.ammenities-filters {
    border-bottom: 1px solid rgba(255,255,255,1);
    padding-bottom: 20px;
}

.ammenities-filters h4 {
    text-align: center;
}

.preferences-filter h4 {
    text-align: center;
}

.ammenities-filters h5 {
    margin-bottom: 10px;
}

.preferences-filter h5 {
    margin-bottom: 10px;
}

.filter-form button {
    width: fit-content;
    align-self: center;
}

.filter-form, #businessPremiseType, #moreBedrooms, #rentalTerm {
    display: none;
}

section {
    margin-top: 10px;    
}

section select {
    padding: 7px 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 2.5px solid#2C18DE;
    color: rgba(255,255,255,1); 
}

option {
    color: black;
}

section button {
    padding: 8px 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 2.5px solid#2C18DE;
    color: rgba(255,255,255,1); 
}

.rental-div {
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.template {
    background-color: transparent;
    border: 0;
    text-decoration: none;
    color: rgba(255,255,255,0.85);
}

.template img {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}


.rental-div {
    display: flex;
    flex-direction: column; 
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);    
    padding: 10px;
    margin-bottom: 10px;
}

.rental-div img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rental-div h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.rental-div h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.rental-div p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.rental-div button {
    padding: 5px 10px;
    align-self: center;  
    font-size: 0.9rem;
    background-color: transparent;
    border: 2.5px solid#2C18DE;
    color: rgba(255,255,255,1);  
}


.template-error {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    max-height: 65vh;
    height: 100vh; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.template-error p {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    
    .container {
        max-width: 1000px;
        margin: auto;              
    }

    .other-ammenities-and-preferences {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }

    .ammenities-filters {
        border-right: 1px solid rgba(255,255,255,1);
        border-bottom: 0;
        padding-right: 15px;
    }
    
    .preferences-filter {
        padding-left: 15px;
    }

    .rental-div {
        flex-direction: row;                
    }

    .image {
        flex-basis: 40%;
        margin-right: 15px;                
    }

    .image img {
        margin-bottom: 0;        
        height: auto;
    }
    
    .description {
        flex-basis: 60%;
    }

}